.details-card{
  width: 750px;
  margin-bottom: 20px;
}

.details-card .data-column{
  height: inherit;
}


.details-card .vl{
  border-right: 1px solid rgba(0, 0, 0, 0.125);
  height: 100%;
}

.details-card .details-tab{
  height: 150px;
}

.details-card .weather-icon{
  width: 300px;
  margin-right: 80px;
  margin-left: -20px;
  margin-top: -50px;
  margin-bottom: -60px;
}

.details-card .live{
  font-size: 0.75em;
  color: #bababa !important;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #64dd17;
  border-radius: 50%;
  display: inline-block;
}

.details-card .tab{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.details-card .temperatures table{
  height: 100%
}

.details-card .high-low{
  font-size: 1.4em
}

.details-card .high-low img{
  width: 36px
}

.details-card .details{
  
}

.details-card .details img{
  width: 24px
}

.details-card .temp-details{
  margin-left: 15px;
}
